{% extends 'base.html' %} {%load static%}
<!-- document title-->
{% block title %} Advisor {% endblock title %}

<!-- document body -->
{% block body %}
{% include 'navbar.html' %}


<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom">
      <h1>CRDB Nisevie</h1>
      <p><span>Welcome to plan advisor</span></p>
    </div>
  </section>

  <main id="main">
    <section id="body_intro" class="d-flex flex-column justify-content-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h2><em>Why Plan Advisor?</em></h2>
            <p><span class="text-muted"></span></p>
            <p><span>Are you having trouble saving money as a result of poor financial planning? Don't worry; we'll help you figure out how you can budget your money so you can start your own 
              savings plan. </span></p>
            <div class="row">
              <div class="col-12 text-left">
                <a href="{% url 'income_streams' %}" class="btn btn-sm color_accent border_accent p-2 rounded"><i class="bx bx-run"></i> Start</a>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <h2 class="h2 mb-5">How does it work</h2>
            <ul>
              <li>
                <div>
                  <span class="h3">Keep track of your Income streams </span>
                  <p><br>Identify and make a list of your sources of revenue, determine your earning pattern and 
                    use that information to form your strategic plan.</p>
                </div>
              </li>
              <li>
                <div>
                  <span class="h3">Record your expenses </span>
                  <p><br> After identifying the pattern of your revenue, then determine the trend of your expenses and we'll
                    calculate the minimum amount you can use to start a strategic plan.
                  </p>
                </div>
              </li>
              <li>
                <div>
                  <span class="h3">Plan from suggestions </span>
                  <p><br> Then, we will compute for you the least amount you can utilise to start a plan. Then start a plan!</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>

{% endblock body%}