{% extends 'base.html' %} {%load static%}
<!-- document title-->
{% block title %} Advisor-expenses {% endblock title %}

<!-- document body -->
{% block body %}
{% include 'navbar.html' %}
<main id="main">

    <section id="body_expenses" class="d-flex flex-column justify-content-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="col-12">
              <h3 class="h4 section-title"><em>Add your Expenses</em></h3>
              <p class="text-center no_income_stream">
                <span class="text-center">
                  Identify and associate your expenses with your incomes and know how much you can save without deviating from your regular spending plan.
                </span>
              </p>
            </div>
            <div class="col m-1 rounded">
              <div class="income_stream">
                <ul class="list-group list-group-flush">
                    {% for expense in expenses %}
                  <li class="list-group-item">
                    <div class="stream-item">
                      <span class="color_accent">{{expense.name}}</span>
                      <p class="text-sm">{{expense.amount}} Tzs. <span class="text-muted">after every {{expense.time_interval}} months</span></p>
                      <p class="text-sm"><a href="{% url 'edit_expense_stream' expense.id %}" class="m-1 text_accent"> <i class="bx bxs-edit-alt"></i> edit</a>
                        <a href="{% url 'delete_expense_stream' expense.id %}" class="m-1 text-danger"> <i class="bx bxs-trash"> </i>remove</a></p>
                      </p>
                    </div>
                  </li>
                  {% endfor %}
                </ul>

              </div>

            </div>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <form action="" method="post" role="form" class="">
                {% csrf_token %}
              <div class="row">
                <div class="col-md-12 form-group mb-3 autocomplete">
                  <label for="Stream Name" class="mb-2">Expense Name <i class="bx bxs-rename color_accent"></i></label>
                  <input type="text" name="stream_name" class="form-control" id="expense_name" placeholder="e.g Rent" required>
                </div>

                <div class="col-md-12 form-group mb-3">
                    <label for="id_stream_amount" class="mb-2">Amount <i class="bx bx-money color_accent"></i></label>
                    <input type="text" name="stream_amount" class="form-control" id="expense_value" placeholder="500,000" required>
                  </div>
  
                  <div class="col-md-6 form-group mb-3">
                    <label for="Stream Name" class="mb-2">Time Interval <i class="bx bxs-watch color_accent"></i></label>
                    <select type="text" name="time_interval" class="form-control" required>
                      <option value='1'>Each Month</option>
                      <option value='2'>Every two months</option>
                      <option value='3'>Every three months</option>
                      <option value='4'>Every four months</option>
                      <option value='5'>Every five months</option>
                      <option value='6'>Every six months</option>
                      <option value='12'>After One year</option>
                    </select>
                  </div>
  
                  <div class="col-md-6 form-group mb-3">
                    <label for="stream_frequ" class="mb-2"> How Often <i class="bx bx-repeat color_accent"></i></label>
                    <input type="text" name="stream_frequency" class="form-control" id="id_stream_frequency" placeholder="1 for Once every month" required>
                  </div>

                  <div class="col-md-6 form-group mb-3">
                    <label for="can_save" class="mb-2"> How much can you save </label>
                    <input type="text" name="can_save_amount" class="form-control" id="id_can_save" placeholder="" required>
                  </div>

                  <div class="col-md-6 form-group mb-3">
                    <label for="Stream Name" class="mb-2"> Least expected expenditure </label>
                    <input type="text" name="least_expenditure" class="form-control" id="id_least_expenditure" placeholder="" required>
                  </div>

                <div class="col-6">
                  <button type="submit" class="btn btn-md rounded bg_accent text-white">Add expense</button>
                </div>

            </form>

          </div>

        </div>
        <div class="row">
          <div class="col-4 mt-5">
            <a href="{% url 'suggestions' %}" class="text-white btn btn-sm bg_accent"><i
                class="bx bx-right-arrow-alt mx-2"></i>Analyze</a>
          </div>
        </div>
      </div>
    </section>

  </main>
  <script src="{% static 'assets/js/atuocomplete.js' %}"></script>
  <script>
    autocomplete(document.getElementById("expense_name"), expense_list_name, expense_list_values);
  </script>
 
{% endblock %}