{% extends 'base.html' %} {%load static%} {% load mathfilters %}
<!-- document title-->
{% block title %} Advisor-Suggestions {% endblock title %}

<!-- document body -->
{% block body %}
{% include 'navbar.html' %}

<main id="main">

    <section id="body_expenses" class="d-flex flex-column justify-content-center">
      <div class="container-fluid">
        <div class="row mb-3">
          <div class="col-12 my-3">
            <h2 class="h2 ">Status</h2>
          </div>
          <div class="col-sm-6 col-md-4  rounded">
            <div class="card">
              <div class="card-body">
                <span class="h5 m-1">Total Income</span>
                <span class="m-1 color_accent ">{{total_income}}</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4  rounded">
            <div class="card">
              <div class="card-body">
                <span class="h5 m-1">Total Expenses</span>
                <span class="m-1 color_accent">{{total_expense}}</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4  rounded">
            <div class="card">
              <div class="card-body">
                <span class="h5 m-1"> Status</span>
                <span class="m-1 color_accent ">
                    {%if total_income > total_expense%}
                        In budget
                    {% else %}
                    Over budget
                    {%endif%}
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 my-3">
            <h4 class="h5">Breakdown</h5>
          </div>
          
          {% for stream in income_list %}
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 rounded mb-3">
            <div class="card">
              <div class="card-body">
                <span class="color_accent"><b>{{stream.name}}</b></span>
                <table class="table mt-2">
                  <tr>
                    <td>Amount remaining</td>
                    <td>
                        {{ stream.amount|sub:total_expense }}
                    </td>
                  </tr>
                  
                </td>
                </table>
              </div>
            </div>

          </div>
          {% endfor %}
            
          
        </div>
        
        {% if total_income < total_expense %}
        <div class="row my-3">
            <div class="col-12 my-3">
              <h5 class="h5">Your expenses are way too high</h5>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 rounded">
              <div class="card">
                <div class="card-body">
                  <span class="h5 color_accent">Might be happening because</span>
                  <p class="mt-3">
  
                  </p>
                  </table>
                </div>
              </div>
  
            </div>
          </div>
        {% else %}
        <div class="row my-3">
          <div class="col-sm-12 col-md-6 col-lg-6 rounded">
              <div class="card">
                <div class='card-body'>
                  <h5 class="h5">Plan suggestion</h5>
                
                  <p>
                    Figures marked as amount remaining in the list of tabs above show the amount that remains untouched after all expenses have been paid. The negative value in the graph indicates that the respective income stream does not cover your expenses. A good option from there is to consider another source of income from which to begin saving. The income stream with the most remaining is the best one to begin saving with.
                  </p>
                  
                  <p>
                    <a href="{% url 'new_plan' %}" class="btn" >Create Plan </a>
                  </p>
                </div>
              </div>
  
            </div>
        </div>
        {% endif %}
            
        

        <div class="row"> 
          <div class="col-12 my-3">
            <h4 class="h5">You might be interested</h5>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 rounded">
            <div class="card">
              <div class="card-body">
                <span class="color_accent"><b>Service name</b></span>
                
              </div>
            </div>

          </div>
        </div>
      </div>
      </div>
    </section>

  </main>

{% endblock%}