<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
<header id="header" class="d-flex flex-column justify-content-center">

  <nav id="navbar" class="navbar nav-menu">
    <ul>
      <li><a href="{% url 'new-customer' %}" class="nav-link"><i class="bx bx-user"></i> <span>New Customer</span></a></li>
      <li><a href="{% url 'send-funds' %}" class="nav-link scrollto"><i class="bi bi-send"></i> <span>Send Funds</span></a></li>
      <li><a href="{% url 'time-jump' %}" class="nav-link scrollto"><i class="bi bi-watch"></i> <span>Time jump</span></a></li>
    </ul>
  </nav>

</header>
