{% extends 'base.html' %}
{%load static%}
<!-- document title-->
{% block title %}
    Login
{% endblock title %}

<!-- document body -->
{% block body %}

<body id="hero" class="d-flex flex-column justify-content-center">
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
    <section>
      <div class="container" data-aos="zoom-in" data-aos-delay="5">
        <div class="row">
          <div class="col-sm-12 col-md-5">
            <h1>Nisevie</h1>
            <p><span class="typed"
                data-typed-items="Reckless spending is invetible, We help you avoid that, Let Your money grow, You're welcome"></span>
            </p>
          </div>
  
          <div class="col-sm-12 col-md-6">
            <div class="container">
              <div class="card-body">
                <form action="" method="post">
                  <div class="form-outline mb-4">
                    <span class="section-title h1">Login</span>
                  </div>
                  <div class="form-outline m-2">
                    <label class="form-label" for="mobile_number">Registered Phone number</label>
                    <input type="text" id="mobile_number" class="form-control" />
                    <button class="btn btn-sm btn-success float-right mt-2">Get OTP</button>
                  </div>
                  <div class="form-outline m-2" style="display: none;">
                    <label class="form-label" for="OTP">Code recieved</label>
                    <input type="text" id="otp" class="form-control" />
                    <button class="btn btn-sm btn-warning float-right mt-2">Send OTP again</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
    </section>
  
{% endblock body %}

<!-- page preloader -->
{% include 'pre_loader.html' %}