{% extends 'base.html' %} {%load static%}
<!-- document title-->
{% block title %} Control center {% endblock title %}

<!-- document body -->
{% block body %}
{% include 'navbar_sim.html' %}
<main id="main">
    <section class="d-flex flex-column justify-content-center">
        <div class="container">
            <div class="row m-2 d-flex justify-content-center">
                <h3 class="section-title">New Test Customer Account </h3>
                <div class="col-sm-12 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="h3 p-2">
                                Create Account
                            </h3>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                Name <input type="text" class="form-control mb-2" name="customer_name">
                                Phone Number <input type="text" class="form-control mb-2" name="customer_mobile">
                                <input type="submit" value="create" class="btn">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock body%}